<div class="container mt-3 mb-4 pt-5">
 <div class="row mt-4 justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="input-group">
        
        <span class="input-group-text" id="filtro-recetas-addon">
          <i class="fa-solid fa-magnifying-glass" width="16" height="16" fill="currentColor"></i>
        </span>
        
        <input
          type="text"
          class="form-control"
          placeholder="Filtrar recetas por título..."
          [value]="filtroTitulo"
          (input)="onFiltrar($event)"
          aria-label="Filtrar recetas"
          aria-describedby="filtro-recetas-addon"
        />
      </div>
    </div>
  </div>
  
  <div class="row g-4 flex-grow-1 align-items-center">

    @for (receta of recetas; track $index)
    {
    <div class="col-12 col-sm-6 col-lg-3">
      <app-receta [recetaModel]="receta" (clickEliminarReceta)="onDelete($event)"></app-receta>
    </div>
    }

    @if (recetas.length == 0)
    {
    <div class="col-12">

      <div class="alert alert-info" role="alert">
        ¡Vaya! Parece que no quedan recetas para mostrar.
      </div>
    </div>

    }

  </div>
</div>


<app-nueva-receta (recetaCreada)="agregarNuevaReceta($event)"></app-nueva-receta>