<div class="container mt-4">
  <div class="row g-4">

    <!-- Card 1 -->
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card h-100">
        <img [src]="'./img/images.jpg'" class="card-img-top" alt="Tortilla con jamón y queso">
        <div class="card-body">
          <h5 class="card-title">Bocadillo sin pan de tortilla</h5>
          <p class="card-text">
            Ingredientes:<br>
            - 2 huevos<br>
            - Jamón serrano<br>
            - Queso fundido<br>
            - Canónigos<br>
            - Sal y pimienta al gusto
          </p>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card h-100">
        <img src="./img/ensalada-mediterranea-de-pollo.webp" class="card-img-top" alt="Ensalada mediterránea">
        <div class="card-body">
          <h5 class="card-title">Ensalada mediterránea</h5>
          <p class="card-text">
            Ingredientes:<br>
            - Tomates cherry<br>
            - Pepino<br>
            - Queso feta<br>
            - Aceitunas negras<br>
            - Aceite de oliva virgen extra
          </p>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card h-100">
        <img src="./img/noquis-con-salchicha-elle-gourmet-681713bbcda42.avif" class="card-img-top"
          alt="Ñoquis con salchicha y salsa cremosa">
        <div class="card-body">
          <h5 class="card-title">Ñoquis con salchicha</h5>
          <p class="card-text">
            Ingredientes:<br>
            - Ñoquis de patata<br>
            - Salchicha italiana<br>
            - Nata líquida<br>
            - Ajo y cebolla<br>
            - Queso parmesano rallado
          </p>
        </div>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card h-100">
        <img src="./img/Recetas-faciles-de-cocinar-y-sobrevivir-en-casa-al-coronavirus_2.jpg" class="card-img-top"
          alt="Revuelto de verduras con huevo">
        <div class="card-body">
          <h5 class="card-title">Revuelto de verduras</h5>
          <p class="card-text">
            Ingredientes:<br>
            - Calabacín<br>
            - Zanahoria<br>
            - Cebolla<br>
            - Huevo<br>
            - Aceite de oliva y sal
          </p>
        </div>
      </div>
    </div>
    <!-- Prueba crear recetas-->
    <div class="container mt-4">
      <div class="row g-4">


        @for (receta of recetas; track $index)
        {
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
          <app-receta [recetaModel]="receta" (clickEliminarReceta)="onDelete($event)"></app-receta>
        </div>
        }

        @if (recetas.length == 0)
        {
        <div class="col-12">

          <div class="alert alert-info" role="alert">
            ¡Vaya! Parece que no quedan recetas para mostrar.
          </div>
        </div>

        }

      </div>
    </div>

  </div>
</div>