.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 550px;

  &-img-top {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &-body {
    flex: 1; 
    display: flex;
    flex-direction: column;
  }

  .eliminar-btn {
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    line-height: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-bottom: 1px;
    transition: transform 0.2s ease-in-out, background-color 0.2s;

    &:hover {
      transform: scale(1.1);
      background-color: #bb2d3b;
    }
  }
}
