form {
  max-width: 600px;
  margin: 0 auto;
}

img {
  object-fit: cover;
}

.modal-dialog-centered {
    display: flex;
    align-items: center; 
    min-height: calc(100% - (1.75rem * 2)); /* Asegura que el contenedor ocupe la altura necesaria */
}
