<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm fixed-top ">
    <div class="container-fluid">

        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="./img/logo.png" alt="Recetas de Leyre" width="50" height="50"
                class="d-inline-block align-text-top me-2">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#crearRecetaModal">
                    Crear receta
                </a>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarRecetas" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Recetas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarRecetas">
                        <li><a class="dropdown-item" (click)="filtrarPorCategoria('Picar')">Para picar</a></li>
                        <li><a class="dropdown-item" (click)="filtrarPorCategoria('Primeros')">Primeros</a></li>
                        <li><a class="dropdown-item" (click)="filtrarPorCategoria('Segundos')">Segundos</a></li>
                        <li><a class="dropdown-item" (click)="filtrarPorCategoria('Postres')">Postres</a></li>
                        
                        <li><hr class="dropdown-divider"></li>
                        
                        <li><a class="dropdown-item" (click)="filtrarPorCategoria('')">Ver Todas</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>