.navbar-brand img {
  border-radius: 50%; // Logo redondo
  object-fit: cover;
}

.navbar-nav .nav-link {
  font-weight: 500;
  transition: color 0.2s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: black;
}

.dropdown-menu li a.dropdown-item:hover {
  background-color: #f8f9fa;
}
.dropdown-menu {
    .dropdown-item {
        cursor: pointer; 
    }
}
